* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;

}

body {
    background: #E9ECF8;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}

.logo {
    position: relative;
    left: 40px;
    top: 40px;
}

.IngresarTexto {

    position: relative;
    top: 168px;
    left: 330px;

}

.textoarea {
    width: 680px;
    height: 288px;
    padding: 10px;
    font-size: 32px;
    font-weight: 400;
    Line height: 48px;
    color: #0A3871;
    border: none;
    resize: none;
    background-color: #E9ECF8;
}

.textoarea::placeholder {
    color: #0A3871;
    Line height: 48px;
}

.seccion1 {
    
    grid-column-start: 1;
    grid-column-end: 4;

}

.seccion2 {
    position: relative;
    top: 40px;
    

    width: 400px;
    height: 944px;

    background-color: white;
    border-radius: 32px;
    text-align: center;
    box-shadow: 0px 24px 32px -8px #00000014;
    overflow: auto;
    grid-column-start: 4;
    grid-column-end: 4;

}

.mensaje {
    text-align: center;
}


.Msj1 {
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.Msj2 {
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.textoResultado {

    margin-top: 20px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
}

.Muñeco {
    margin-top: 280px;

}

.botones {
    position: relative;
    left: 240px;
    top: 885px;
    width: 680px;
    margin-bottom: 20px;
}

.botonEstilos {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.coloraAzulBoton {
    background-color: #0A3871;
    border: none;
    color: #D8DFE8;
    margin-right: 16px;
}

.coloraAzulBotonLetraBorde {
    color: #0A3871;
    border: 1px solid #0A3871;
    background-color: #D8DFE8;
}

#boton-copiar{
    display: none ;
    color: #0A3871;
    border: 1px solid #0A3871;
    background-color: white;
    position: relative; /* Posición fija */
    top: 800px; /* Distancia desde la parte inferior */
    left: 30px; /* Distancia desde la derecha */
}