* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;

}

html {
    margin: 0px;
}

body {
    background: #F3F5FC;
}

.container {
    width: 100%;
    height: 100%;


}

.logo {
    position: relative;
    left: 40px;
    top: 40px;
}

.IngresarTexto {

    position: relative;
    top: 168px;
    left: 330px;
    width: 680px;

}

.textoarea {
    width: 680px;
    height: 288px;
    padding: 10px;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: #0A3871;
    border: none;
    resize: none;
    background-color: #F3F5FC;
}

.textoarea::placeholder {
    color: #0A3871;
    line-height: 48px;
}


.seccion2 {
    position: absolute;
    top: 10px;
    left: 1450px;

    width: 400px;
    height: 944px;

    display: block;
    align-items: center;

    background-color: white;
    border-radius: 32px;
    text-align: center;
    box-shadow: 0px 24px 32px -8px #00000014;
    overflow: hidden;

}

.mensaje {
    text-align: center;
}


.Msj1 {
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.Msj2 {
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.textoResultado {
    position: relative;

    overflow: auto;
    height: 779px;
    width: 340px;

    margin-top: 20px;
    padding-left: 4px;
    padding-right: 4px;

    left: 28px;

    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

    color: #495057;

}

.Muñeco {
    margin-top: 280px;

}

.botones {
    position: relative;
    left: 329px;
    top: 465px;
    width: 680px;

}

.botonEstilos {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.coloraAzulBoton {
    background-color: #0A3871;
    border: none;
    color: #D8DFE8;
    margin-right: 16px;
}

.coloraAzulBotonLetraBorde {
    color: #0A3871;
    border: 1px solid #0A3871;
    background-color: #D8DFE8;
}

.msjAdvertencia {
    color: #495070;
    margin-bottom: 8px;
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    Opacity: 80%;

}

.logoAdvertencia {
    margin-right: 7px;
}

#boton-copiar {
    display: none;
    color: #0A3871;
    border: 1px solid #0A3871;
    background-color: white;
    position: absolute;
    /* Posición fija */
    top: 825px;
    /* Distancia desde la parte inferior */
    left: 38px;
    /* Distancia desde la derecha */
}

@media screen and (max-width: 800px) {

    /* Muñeco oculto en pantallas pequeñas */
    .Muñeco {
        display: none;
    }

    /* Botones ajustados para pantallas pequeñas */
    .botones {
        position: relative;
        top: 385px;
        left: 40px;
    }

    .seccion2 {
        position: relative;
        top: 415px;
        left: 10px;

        width: 688px;
        height: auto;
        max-height: 350px;

        border-radius: 32px;
        margin-top: 40px;
        padding: 32px;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .IngresarTexto {
        position: relative;
        top: 240px;
        left: 40px;

    }

    .mensaje {
        text-align: center;

        width: 624px;
        height: 69px;

    }

    .Msj1 {
        font-weight: 700;
        font-size: 24px;
        color: #343A40;
        padding: 0px;
        width: auto;
    }

    .Msj2 {
        font-weight: 400;
        font-size: 16px;
        color: #495057;
        width: auto;
        padding: 0px;

    }

    .textoResultado {
        position: relative;

        overflow: auto;
        height: auto;
        width: 624px;
        max-height: 180px;

        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 4px;
        padding-right: 4px;

        left: 28px;

        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;

        color: #495057;

    }

    #boton-copiar {

        color: #0A3871;
        border: 1px solid #0A3871;
        background-color: white;
        width: 624px;
        position: relative;
        top: 25px;
        left: 38px;
        margin-bottom: 15px;

    }

}

@media screen and (max-width: 400px) {

    /* Muñeco oculto en pantallas pequeñas */
    .Muñeco {
        display: none;
    }

    .IngresarTexto {

        position: relative;
        top: 152px;
        left: 16px;
        width: 100px;
        max-height: 624px;


    }

    .textoarea {
        width: 330px;
        height: 100px;
        max-height: 624px;
        padding: 10px;
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
        color: #0A3871;
        border: none;
        resize: none;
        background-color: #F3F5FC;
    }



    /* Botones ajustados para pantallas pequeñas */
    .botones {
        position: relative;
        top: 485px;
        left: 16px;
        width: 343px;
        display: flex;
        flex-direction: column;
        /* Cambiamos la dirección de los elementos */
        flex-wrap: wrap;
    }

    .botonEstilos {
        width: 328px;
        height: 67px;
        border-radius: 24px;
        text-align: center;
        font-size: 16px;
        ddddddd font-weight: 400;
        margin-bottom: 30px;
    }

    .seccion2 {
        position: relative;
        top: 707px;
        left: 24px;

        width: 327px;
        height: 186px;
        max-height: 595px;

        border-radius: 32px;
        margin-top: 40px;
        margin-bottom: 40px;
        ;
        padding: 32px;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;


        box-sizing: border-box;
        /* Incluimos el padding y los bordes en el tamaño total */
        border: 1px solid red;
    }

    .textoResultado {
        position: relative;

        overflow: auto;
        height: auto;
        width: 343px;
        max-height: 432px;

        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 4px;
        padding-right: 4px;

        left: 15px;

        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;

        color: #495057;

    }

    .mensaje {
        text-align: center;

        width: 200px;
        height: auto;
        margin-bottom: 100px;

    }

    .Msj1 {
        font-weight: 700;
        font-size: 24px;
        color: #343A40;
        padding: 0px;
        width: auto;
    }

    .Msj2 {
        font-weight: 400;
        font-size: 16px;
        color: #495057;
        width: auto;
        padding: 0px;

    }

    #boton-copiar {

        color: #0A3871;
        border: 1px solid #0A3871;
        background-color: white;
        width: 279px;
        position: relative;
        top: 25px;
        left: 5px;
        margin-bottom: 15px;

    }
}